## pip install -f requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
pytest==7.0.1
pytest-html==3.1.1
pytest-xdist==2.5.0
pytest-ordering==0.6
pytest-rerunfailures==10.2
allure-pytest==2.9.45
requests==2.28.1
jsonpath==0.82
loguru==0.6.0
locust==2.12.2
PyMySQL==1.0.2
pytest-assume==2.4.3
pytest-dependency==0.5.1
playwright==1.27.1
pytest-playwright==0.3.0



